<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/product">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                <img src={{item.image}} alt="Không thể tải ảnh">
                                <img src={{item.image2}} alt="Không thể tải ảnh">
                                <img src={{item.image3}} alt="Không thể tải ảnh">
                                <img src={{item.image4}} alt="Không thể tải ảnh">
                                <img src={{item.image5}} alt="Không thể tải ảnh">
                                <img src={{item.image6}} alt="Không thể tải ảnh">
                            </div>
                            <div class="product-slider-single-nav normal-slider">
                                <div class="slider-nav-img"><img src={{item.image}} alt="Không thể tải ảnh"></div>
                                <div class="slider-nav-img"><img src={{item.image2}} alt="Không thể tải ảnh"></div>
                                <div class="slider-nav-img"><img src={{item.image3}} alt="Không thể tải ảnh"></div>
                                <div class="slider-nav-img"><img src={{item.image4}} alt="Không thể tải ảnh"></div>
                                <div class="slider-nav-img"><img src={{item.image5}} alt="Không thể tải ảnh"></div>
                                <div class="slider-nav-img"><img src={{item.image6}} alt="Không thể tải ảnh"></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title">
                                    <h2>{{item.name}}</h2>
                                </div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">
                                    <h4>Giá:</h4>
                                    <p>
                                        {{formatCurencyVND item.price}}đ
                                        <span>{{formatCurencyVND item.originPrice}}đ</span>
                                    </p>
                                </div>
                                <div class="quantity">
                                    <h4>Số lượng:</h4>
                                    <div class="qty">
                                        <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                        <input type="text" value="1">
                                        <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="p-size">
                                    <h4>Kích cỡ:</h4>
                                    <div class="btn-group btn-group-sm">
                                        {{#each item.size}}
                                            <button type="button" class="btn">{{sizeName}}</button>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="p-color">
                                    <h4>Màu sắc:</h4>
                                    <div class="btn-group btn-group-sm">
                                        {{#each item.color}}
                                            <button type="button" class="btn">{{colorName}}</button>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="action">
                                    <a class="btn" href="/cart/{{item.id}}"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a>
                                    <a class="btn" href="/product/detail/{{item.id}}"><i class="fa fa-shopping-bag"></i>Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#specification">Thông số kĩ thuật</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#reviews">Nhận xét (2)</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h4>Mô tả sản phẩm</h4>
                                <p>{{item.description}}</p>
                            </div>
                            <div id="specification" class="container tab-pane fade">
                                <h4>Thông số kĩ thuật</h4>
                                <ul>
                                    {{#each item.special}}
                                        <li>{{specName}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div id="reviews" class="container tab-pane fade">
                                {{#each item.review}}
                                    <div class="reviews-submitted">
                                        <div class="reviewer">{{reviewName}} - <span>{{reviewDate}}</span></div>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p>{{reviewContent}}</p>
                                    </div>
                                {{/each}}
                                <div class="reviews-submit">
                                    <h4>Để lại bình luận:</h4>
                                    <div class="ratting">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="row form">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Tên">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea placeholder="Nội dung"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button>Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="section-header">
                        <h1>Sản phẩm liên quan</h1>
                    </div>

                    <div class="row align-items-center product-slider product-slider-3">
                        {{#each productList}}
                            <div class="col-lg-3">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="/product/detail/{{id}}">{{name}}</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="/product/detail/{{id}}">
                                            <img src={{image}} alt="Không thể tải ảnh">
                                        </a>
                                        <div class="product-action">
                                            <a href="/cart/{{id}}"><i class="fa fa-cart-plus"></i></a>
                                            <a href="/wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="/product/detail/{{id}}"><i class="fa fa-info"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>{{formatCurencyVND price}}<span>đ</span></h3>
                                        <a class="btn" href="/product/detail/{{id}}"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Phân loại</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            {{#each category}}
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="{{iclass}}"></i>{{name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        {{#each productList}}
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">{{name}}</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/product/detail/{{id}}">
                                        <img src={{image}} alt="Không thể tải hình ảnh">
                                    </a>
                                    <div class="product-action">
                                        <a href="/cart/{{id}}"><i class="fa fa-cart-plus"></i></a>
                                        <a href="/wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="/product/detail/{{id}}"><i class="fa fa-info"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>{{formatCurencyVND price}}<span>đ</span></h3>
                                    <a class="btn" href="/product/detail/{{id}}"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="sidebar-widget brands">
                    <h2 class="title">Nhãn hiệu</h2>
                    <ul>
                        <li><a href="#">Nulla </a><span>(45)</span></li>
                        <li><a href="#">Curabitur </a><span>(34)</span></li>
                        <li><a href="#">Nunc </a><span>(67)</span></li>
                        <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                        <li><a href="#">Fusce </a><span>(89)</span></li>
                        <li><a href="#">Sagittis</a><span>(28)</span></li>
                    </ul>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Thẻ tags</h2>
                    <a href="#">Đồ nam</a>
                    <a href="#">Hàng hiệu</a>
                    <a href="#">Hô ly gút</a>
                    <a href="#">Đỏ</a>
                    <a href="#">Đầm diện ngắn</a>
                    <a href="#">Noel</a>
                    <a href="#">Người yêu</a>
                    <a href="#">Quần áo</a>
                    <a href="#">Mũ len</a>
                    <a href="#">Tây ba lô</a>
                    <a href="#">Hello world</a>
                    <a href="#">Mùa đông</a>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product Detail End -->

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->