<!--Breadcrumb Start-->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/product">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Danh sách sản phẩm</li>
        </ul>
    </div>
</div>
<!--Breadcrumb End-- >
        
<!--Product List Start-->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-search">
                                        <input type="email" value="" placeholder="Tìm kiếm">
                                        <button><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Sắp xếp theo</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Mới nhất</a>
                                                <a href="#" class="dropdown-item">Phổ biến nhất</a>
                                                <a href="#" class="dropdown-item">Đang giảm giá</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Theo giá sản phẩm</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Dưới 100k</a>
                                                <a href="#" class="dropdown-item">Từ 100k đến 500k</a>
                                                <a href="#" class="dropdown-item">Từ 500k đến 2 triệu</a>
                                                <a href="#" class="dropdown-item">Trên 2 triệu</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each productList}}
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">{{name}}</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/product/detail/{{id}}">
                                        <img src={{image}} alt="Không tải được hình ảnh">
                                    </a>
                                    <div class="product-action">
                                        <a href="/cart/{{id}}"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="/product/detail/{{id}}"><i class="fa fa-info"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>{{formatCurencyVND price}}<span>đ</span></h3>
                                    <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                </div>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Trước</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="/product">1</a></li>
                            <li class="page-item"><a class="page-link" href="/product/page/2">2</a></li>
                            <li class="page-item"><a class="page-link" href="/product/page/3">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Sau</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Phân loại</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            {{#each category}}
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="{{iclass}}"></i>{{name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        {{#each productList}}
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">{{name}}</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/product/detail/{{id}}">
                                        <img src={{image}} alt="Không thể tải hình ảnh">
                                    </a>
                                    <div class="product-action">
                                        <a href="/cart/{{id}}"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="/product/detail/{{id}}"><i class="fa fa-info"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>{{formatCurencyVND price}}<span>đ</span></h3>
                                    <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="sidebar-widget brands">
                    <h2 class="title">Nhãn hiệu</h2>
                    <ul>
                        <li><a href="#">Nulla </a><span>(45)</span></li>
                        <li><a href="#">Curabitur </a><span>(34)</span></li>
                        <li><a href="#">Nunc </a><span>(67)</span></li>
                        <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                        <li><a href="#">Fusce </a><span>(89)</span></li>
                        <li><a href="#">Sagittis</a><span>(28)</span></li>
                    </ul>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Thẻ tags</h2>
                    <a href="#">Đồ nam</a>
                    <a href="#">Hàng hiệu</a>
                    <a href="#">Hô ly gút</a>
                    <a href="#">Đỏ</a>
                    <a href="#">Đầm diện ngắn</a>
                    <a href="#">Noel</a>
                    <a href="#">Người yêu</a>
                    <a href="#">Quần áo</a>
                    <a href="#">Mũ len</a>
                    <a href="#">Tây ba lô</a>
                    <a href="#">Hello world</a>
                    <a href="#">Mùa đông</a>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->
</div>