<!--Breadcrumb Start-->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/product">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Sản phẩm theo phân loại</li>
        </ul>
    </div>
</div>
<!--Breadcrumb End-- >
        
<!--Product List Start-->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">

                    {{#each productList}}
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">{{name}}</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/product/detail/{{id}}">
                                        <img src={{image1}} alt="">
                                    </a>
                                    <div class="product-action">
                                        <a href="/cart/{{id}}"><i class="fa fa-cart-plus"></i></a>
                                        <a href="/wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="/product/detail/{{id}}"><i class="fa fa-info"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>{{formatCurencyVND originPrice}}<span>đ</span></h3>
                                    <a class="btn" href="/product/detail/{{id}}">
                                        <i class="fa fa-shopping-cart"></i>
                                        Mua ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                </div>

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{#if pageCount}}
                                {{#if isPreviousPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/product/category/{{type}}?page={{previousPage}}"
                                            tabindex="-1">Trước
                                        </a>
                                    </li>
                                {{else}}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Trước</a>
                                    </li>
                                {{/if}}

                                {{#each listPaginate}}
                                    <li {{#if isCurrentPage}}class="page-item active" {{else}}class="page-item" {{/if}}>
                                        <a class="page-link"
                                            href="/product/category/{{../type}}?page={{pageId}}">{{pageId}}</a>
                                    </li>
                                {{/each}}

                                {{#if isNextPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="/product/category/{{type}}?page={{nextPage}}">Sau</a>
                                    </li>
                                {{else}}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Sau</a>
                                    </li>
                                {{/if}}
                            {{else}}
                                <h2 class="text-danger mt-5 mb-5 text-center">
                                    Ồ không!!!! không có sản phẩm nào ở đây cả. Vui lòng thử lại!
                                </h2>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Phân loại</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            {{#each category}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/product/category/{{id}}">
                                        <i class="{{iclass}}"></i>{{name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        {{#each productList}}
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">{{name}}</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="/product/detail/{{id}}">
                                        <img src={{image1}} alt="">
                                    </a>
                                    <div class="product-action">
                                        <a href="/cart/{{id}}"><i class="fa fa-cart-plus"></i></a>
                                        <a href="/wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="/product/detail/{{id}}"><i class="fa fa-info"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3>{{formatCurencyVND originPrice}}<span>đ</span></h3>
                                    <a class="btn" href="/product/detail/{{id}}">
                                        <i class="fa fa-shopping-cart"></i>
                                        Mua ngay
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="sidebar-widget brands">
                    <h2 class="title">Nhãn hiệu</h2>
                    <ul>
                        {{#each branchs}}
                            <li><a href="/product/search?text={{name}}">{{name}} </a><span>({{number}})</span></li>
                        {{/each}}
                    </ul>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Thẻ tags</h2>
                    {{#each tags}}
                        <a href="/product/search?text={{name}}">{{name}}</a>
                    {{/each}}
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="/img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="/img/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->
</div>